body{
    overflow-x:hidden;
}
.blog-content p{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-top: 10px !important;
    margin-bottom: 18px !important;
    font-size: 18px;
    line-height: 1.8;
}

.blog-content h2{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-top: 10px !important;
    margin-bottom: 18px !important;
    font-size: 27px;
    line-height: 1.8;
}

.wp-block-code{
    background-color: #1f2937;
    padding:15px 20px;
    color:#ffffff;
    border-radius:5px;
}